[tool.poetry]
name = "ohsome"
version = "0.1.0"
description = "A Python client for the ohsome API"
authors = ["HeiGIT ohsome team <ohsome@heigit.org>", "GIScience Research Group, Heidelberg University"]
repository = "https://github.com/GIScience/ohsome-py"
readme = 'README.md'
license = "GPL-3.0"

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
requests = "^2.25.1"
pandas = [{ version = "^0.25.3", python = "<3.8" }, { version = "^1.0.5", python = ">=3.8, <4" }]
numpy = "^1.20.1"
geopandas = [{ version = "^0.9.0", python = "<3.8" }, { version = "^0.10.0", python = ">=3.8, <4" }]
pyproj = "^3.0.0"
multidict = "^5.1.0"
pip = "^21.0.1"
urllib3 = "^1.26"

[tool.poetry.dev-dependencies]
pytest = "^7.1.1"
pytest-cov = "^3.0.0"
black = "^22.3.0"
pytest-random-order = "^1.0.4"
tox = "^3.23.0"
pre-commit = "^2.9.2"

[tool.dephell.main]
from = { format = "poetry", path = "pyproject.toml" }
to = { format = "setuppy", path = "setup.py" }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.black]
line-length = 88
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''
