[tool.poetry]
name = "ohsome"
version = "0.1.0rc2"
description = "A Python client for the ohsome API"
authors = ["Christina Ludwig <christina.ludwig@uni-heidelberg.de>"]
readme = 'README.md'
license = "GPL-3.0"

[tool.poetry.dependencies]
python = ">=3.6,<4.0"
requests = "^2.25.1"
pandas = [{ version = "<0.25.3", python = "<3.7" }, { version = ">=0.25.3", python = ">=3.7, <4" }]
numpy = [{ version = "<1.20.1", python = ">=3.0,<3.7" }, { version = ">=1.20.1", python = ">=3.7,<4" }]
geopandas = "^0.9.0"
pyproj = "^3.0.0"
multidict = "^5.1.0"
pip = ">=21.0.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"
pytest-cov = ">=2.0.0"
pre-commit = [{ version = ">=2.1.1", python = ">=3.6, <4.0" }]
black = "^20.8b1"
pytest-random-order = "^1.0.4"
yaspin = "<1.4.1"
tox = "^3.23.0"

[tool.dephell.main]
from = { format = "poetry", path = "pyproject.toml" }
to = { format = "setuppy", path = "setup.py" }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.black]
line-length = 88
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''
