interactions:
- request:
    body: bboxes=8.67555%2C49.39885%2C8.69637%2C49.41122&timeout=0.001
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    body:
      string: "{\n  \"timestamp\" : \"2023-11-29T14:34:00.706669081\",\n  \"status\"
        : 413,\n  \"message\" : \"The given query is too large in respect to the given
        timeout. Please use a smaller region and/or coarser time period.\",\n  \"requestUrl\"
        : \"https://api.ohsome.org/v1/elements/count\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 413
      message: ''
version: 1
