interactions:
- request:
    body: bboxes=8.67555%2C49.39885%2C8.69637%2C49.41122&filter=building%3D%2A+and+type%3Away&timeout=0.001
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"timestamp\" : \"2023-12-06T08:19:25.216152546\",\n  \"status\"
        : 413,\n  \"message\" : \"The given query is too large in respect to the given
        timeout. Please use a smaller region and/or coarser time period.\",\n  \"requestUrl\"
        : \"https://api.ohsome.org/v1/elements/geometry\"\n}"
    headers:
      Content-Type:
      - application/json
      Content-disposition:
      - attachment;filename=ohsome.geojson
    status:
      code: 413
      message: ''
version: 1
