interactions:
- request:
    body: bboxes=8.6577%2C49.3958%2C8.7122%2C49.4296&time=2010-01-01%2F2020-01-01%2FP1M&filter=highway%3D%2A+and+type%3Away
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count/groupBy/tag
  response:
    body:
      string: "{\n  \"timestamp\" : \"2023-12-06T08:19:32.5042067\",\n  \"status\"
        : 400,\n  \"message\" : \"You need to give one groupByKey parameter, if you
        want to use groupBy/tag.\",\n  \"requestUrl\" : \"https://api.ohsome.org/v1/elements/count/groupBy/tag\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: ''
version: 1
