interactions:
- request:
    body: bcircles=8.695%2C49.41%2C200%7C8.696%2C49.41%2C200&time=2018-01-01&filter=amenity%3Drestaurant+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"result\" : [ {\n    \"timestamp\" : \"2018-01-01T00:00:00Z\",\n
        \   \"value\" : 2.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: bcircles=1%3A8.695%2C49.41%2C200%7C2%3A8.696%2C49.41%2C200&time=2018-01-01&filter=amenity%3Drestaurant+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count/groupBy/boundary
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"groupByResult\" : [ {\n    \"groupByObject\" : \"1\",\n
        \   \"result\" : [ {\n      \"timestamp\" : \"2018-01-01T00:00:00Z\",\n      \"value\"
        : 1.0\n    } ]\n  }, {\n    \"groupByObject\" : \"2\",\n    \"result\" : [
        {\n      \"timestamp\" : \"2018-01-01T00:00:00Z\",\n      \"value\" : 1.0\n
        \   } ]\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: bcircles=1%3A8.695%2C+49.41%2C+200&time=2018-01-01&filter=amenity%3Drestaurant+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"result\" : [ {\n    \"timestamp\" : \"2018-01-01T00:00:00Z\",\n
        \   \"value\" : 1.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
