interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ohsome.org/v1/metadata
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"timeout\" : 600.0,\n  \"extractRegion\" : {\n    \"spatialExtent\"
        : {\n      \"type\" : \"Polygon\",\n      \"coordinates\" : [ [ [ -180.0,
        -90.0 ], [ 180.0, -90.0 ], [ 180.0, 90.0 ], [ -180.0, 90.0 ], [ -180.0, -90.0
        ] ] ]\n    },\n    \"temporalExtent\" : {\n      \"fromTimestamp\" : \"2007-10-08T00:00:00Z\",\n
        \     \"toTimestamp\" : \"2023-11-25T13:00Z\"\n    },\n    \"replicationSequenceNumber\"
        : 98190\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
