interactions:
- request:
    body: bcircles=0%3A8.678770065307615%2C49.414435400453954%2C100%7C1%3A8.697137832641602%2C49.41007968889129%2C150&time=2018-01-01T00%3A00%3A00%2C2018-01-02T00%3A00%3A00%2C2018-01-03T00%3A00%3A00&filter=amenity%3Drestaurant+and+type%3Away
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"result\" : [ {\n    \"timestamp\" : \"2018-01-01T00:00:00Z\",\n
        \   \"value\" : 0.0\n  }, {\n    \"timestamp\" : \"2018-01-02T00:00:00Z\",\n
        \   \"value\" : 0.0\n  }, {\n    \"timestamp\" : \"2018-01-03T00:00:00Z\",\n
        \   \"value\" : 0.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
