interactions:
- request:
    body: bboxes=8.67066%2C49.41423%2C8.68177%2C49.4204%7C8.67066%2C49.41423%2C8.68177%2C49.4204&time=2010-01-01&filter=amenity%3Drestaurant+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"result\" : [ {\n    \"timestamp\" : \"2010-01-01T00:00:00Z\",\n
        \   \"value\" : 0.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: bboxes=8.67066%2C+49.41423%2C+8.68177%2C+49.4204&time=2010-01-01&filter=amenity%3Drestaurant+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"result\" : [ {\n    \"timestamp\" : \"2010-01-01T00:00:00Z\",\n
        \   \"value\" : 0.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
