interactions:
- request:
    body: bboxes=0%3A8.695077896118164%2C49.408711468953854%2C8.699712753295898%2C49.41155955732304%7C1%3A8.677010536193848%2C49.41370947536709%2C8.682074546813965%2C49.416641030041134&time=2010-01-01&filter=amenity%3Drestaurant+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"result\" : [ {\n    \"timestamp\" : \"2010-01-01T00:00:00Z\",\n
        \   \"value\" : 0.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
