interactions:
- request:
    body: bboxes=8.7137%2C49.4096%2C8.717%2C49.4119&time=2015-01-01%2F2016-01-01%2FP1Y&filter=name%3DKrautturm+and+type%3Away
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/users/count
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"result\" : [ {\n    \"fromTimestamp\" : \"2015-01-01T00:00:00Z\",\n
        \   \"toTimestamp\" : \"2016-01-01T00:00:00Z\",\n    \"value\" : 1.0\n  }
        ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
