interactions:
- request:
    body: bboxes=8.67%2C49.39%2C8.71%2C49.42&time=2008-01-01%2F2023-01-01%2FP1Y&filter=amenity%3Dcafe+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/contributions/count/density
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"result\" : [ {\n    \"fromTimestamp\" : \"2008-01-01T00:00:00Z\",\n
        \   \"toTimestamp\" : \"2009-01-01T00:00:00Z\",\n    \"value\" : 1.03\n  },
        {\n    \"fromTimestamp\" : \"2009-01-01T00:00:00Z\",\n    \"toTimestamp\"
        : \"2010-01-01T00:00:00Z\",\n    \"value\" : 4.03\n  }, {\n    \"fromTimestamp\"
        : \"2010-01-01T00:00:00Z\",\n    \"toTimestamp\" : \"2011-01-01T00:00:00Z\",\n
        \   \"value\" : 5.88\n  }, {\n    \"fromTimestamp\" : \"2011-01-01T00:00:00Z\",\n
        \   \"toTimestamp\" : \"2012-01-01T00:00:00Z\",\n    \"value\" : 20.34\n  },
        {\n    \"fromTimestamp\" : \"2012-01-01T00:00:0[...]
[...]
- request:
    body: bboxes=8.67%2C49.39%2C8.71%2C49.42&time=2020-02-01%2C2020-06-29&filter=amenity%3Dcafe+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elementsFullHistory/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Point\",\n
        \     \"coordinates\" : [\n        8.678372,\n        49.4128139\n      ]\n
        \   },\n    \"properties\" : {\n      \"@osmId\" : \"node/305963168\",\n      \"@validFrom\"
        : \"2020-02-01T00:00:00Z\",\n      \"@validTo\" : \"2020-06-29T00:00:00Z\"\n
        \   }\n  }, {\n    \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\"
        : \"Point\",\n      \"coordinates\" : [\n        8.6856817,\n        49.41254\n
        \     ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"node/305963178\",\n
        \     \"@validFrom\" : \"2020-02-01T00:00:00Z\",\n      \"@validTo\" : \"20[...]
[...]
- request:
    body: bboxes=8.67%2C49.39%2C8.71%2C49.42&time=2020-02-01%2C2020-06-29&filter=amenity%3Dcafe+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/contributions/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"typ[...]
- request:
    body: bboxes=8.67%2C49.39%2C8.71%2C49.42&time=2008-01-01%2F2023-01-01%2FP1Y&filter=amenity%3Dcafe+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count/groupBy/boundary
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"groupByResult\" : [ {\n    \"groupByObject\" : \"boundary1\",\n
        \   \"result\" : [ {\n      \"timestamp\" : \"2008-01-01T00:00:00Z\",\n      \"value\"
        : 1.0\n    }, {\n      \"timestamp\" : \"2009-01-01T00:00:00Z\",\n      \"value\"
        : 10.0\n    }, {\n      \"timestamp\" : \"2010-01-01T00:00:00Z\",\n      \"value\"
        : 30.0\n    }, {\n      \"timestamp\" : \"2011-01-01T00:00:00Z\",\n      \"value\"
        : 36.0\n    }, {\n      \"timestamp\" : \"2012-01-01T00:00:00Z\",\n      \"value\"
        : 61.0\n    }, {\n      \"timestamp\" : \"2013-01-01T00:00:00Z\",\n      \"value\"
  [...]
- request:
    body: bboxes=8.67%2C49.39%2C8.71%2C49.42&time=2008-01-01%2F2023-01-01%2FP1Y&filter=amenity%3Dcafe+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"ty[...]
