interactions:
- request:
    body: bboxes=8.6933%2C49.40893%2C8.69797%2C49.41106&time=2019-12-10&filter=amenity%3Dcafe+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count/density
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"result\" : [ {\n    \"timestamp\" : \"2019-12-10T00:00:00Z\",\n
        \   \"value\" : 149.47\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
