interactions:
- request:
    body: bboxes=A%3A8.6933%2C49.40893%2C8.69797%2C49.41106%7CB%3A8.6887%2C49.41325%2C8.69462%2C49.4166&time=2019-12-10%2C+2020-07-23&filter=amenity%3Dhotel+and+type%3Anode&filter2=amenity%3Dcafe+and+type%3Anode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count/ratio/groupBy/boundary
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"groupByBoundaryResult\" : [ {\n    \"groupByObject\" :
        \"A\",\n    \"ratioResult\" : [ {\n      \"timestamp\" : \"2019-12-10T00:00:00\",\n
        \     \"value\" : 0.0,\n      \"value2\" : 12.0,\n      \"ratio\" : \"Infinity\"\n
        \   }, {\n      \"timestamp\" : \"2020-07-23T00:00:00\",\n      \"value\"
        : 0.0,\n      \"value2\" : 10.0,\n      \"ratio\" : \"Infinity\"\n    } ]\n
        \ }, {\n    \"groupByObject\" : \"B\",\n    \"ratioResult\" : [ {\n      \"timestamp\"
        : \"2019-12-10T00:00:00\",\n      \"value\" : 0.0,\n      \"value2\" : 11.0,\n
        \     \"ratio\" : \"Infinity\"\n    }, {\n      \"timestamp\" : \"2020-07-23T00:00:00\",\n
        \     \"value\" : 0.0,\n      \"value2\" : 12.0,\n      \"ratio\" : \"Infinity\"\n
        \   } ]\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
