interactions:
- request:
    body: bboxes=8.6933%2C49.40893%2C8.69797%2C49.41106&time=2019-12-10%2C2019-12-11&filter=type%3Anode&groupByKey=amenity
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count/groupBy/tag
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"groupByResult\" : [ {\n    \"groupByObject\" : \"remainder\",\n
        \   \"result\" : [ {\n      \"timestamp\" : \"2019-12-10T00:00:00Z\",\n      \"value\"
        : 216.0\n    }, {\n      \"timestamp\" : \"2019-12-11T00:00:00Z\",\n      \"value\"
        : 216.0\n    } ]\n  }, {\n    \"groupByObject\" : \"amenity=parking\",\n    \"result\"
        : [ {\n      \"timestamp\" : \"2019-12-10T00:00:00Z\",\n      \"value\" :
        3.0\n    }, {\n      \"timestamp\" : \"2019-12-11T00:00:00Z\",\n      \"value\"
        : 3.0\n    } ]\n  }, {\n    \"groupByObject\" : \"amenity=bench\",\n    \"result\"
        : [ {\n      \"timestamp\" : \"2019-12-10T00:00:00Z\"[...]
