interactions:
- request:
    body: bboxes=8.6933%2C49.40893%2C8.69797%2C49.41106&time=2019-12-10%2C2019-12-11&filter=amenity%3D%2A+and+%28type%3Away+or+type%3Anode%29
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count/groupBy/type
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"groupByResult\" : [ {\n    \"groupByObject\" : \"node\",\n
        \   \"result\" : [ {\n      \"timestamp\" : \"2019-12-10T00:00:00Z\",\n      \"value\"
        : 83.0\n    }, {\n      \"timestamp\" : \"2019-12-11T00:00:00Z\",\n      \"value\"
        : 83.0\n    } ]\n  }, {\n    \"groupByObject\" : \"way\",\n    \"result\"
        : [ {\n      \"timestamp\" : \"2019-12-10T00:00:00Z\",\n      \"value\" :
        9.0\n    }, {\n      \"timestamp\" : \"2019-12-11T00:00:00Z\",\n      \"value\"
        : 9.0\n    } ]\n  }, {\n    \"groupByObject\" : \"relation\",\n    \"result\"
        : [ {\n      \"timestamp\" : \"2019-12-10T00:00:00Z\",\n      \"value\" :
        0.0\n    }, {\n      \"timestamp\" : \"2019-12-11T00:00:00Z\",\n      \"value\"
        : 0.0\n    } ]\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
