interactions:
- request:
    body: bboxes=8.7137%2C49.4096%2C8.717%2C49.4119&time=2015-01-01%2C2016-01-01&filter=name%3DKrautturm+and+type%3Away
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/contributions/latest/bbox
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Polygon\",\n
        \     \"coordinates\" : [\n        [\n          [\n            8.7160632,\n
        \           49.4101846\n          ],\n          [\n            8.7164024,\n
        \           49.4101846\n          ],\n          [\n            8.7164024,\n
        \           49.4103952\n          ],\n          [\n            8.7160632,\n
        \           49.4103952\n          ],\n          [\n            8.7160632,\n
        \           49.4101846\n          ]\n        ]\n      ]\n    },\n    \"properties\"
        : {\n      \"@contributionChangesetId\" : 30687511,\n      \"@osmId\" : \"way/24885641\",\n
        \     \"@timestamp\" : \"2015-05-01T10:34:11Z\"\n    }\n  }]\n}\n"
    headers:
      Content-Type:
      - application/geo+json;charset=utf-8
      Content-disposition:
      - attachment;filename=ohsome.geojson
    status:
      code: 200
      message: ''
version: 1
