interactions:
- request:
    body: bboxes=8.7137%2C49.4096%2C8.717%2C49.4119&time=2016-01-01&filter=name%3DKrautturm+and+type%3Away
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.1\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Polygon\",\n
        \     \"coordinates\" : [\n        [\n          [\n            8.7160632,\n
        \           49.4102899\n          ],\n          [\n            8.7160749,\n
        \           49.4103121\n          ],\n          [\n            8.7160827,\n
        \           49.4103235\n          ],\n          [\n            8.7160963,\n
        \           49.4103374\n          ],\n          [\n            8.716121,\n
        \           49.4103549\n          ],\n          [\n            8.7161392,\n
        \           49.41036[...]
